.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img img{
  width: 500px;
  margin-right: 100px;
  margin-bottom: 65px;
}

.create-room-container{
  display: inline-flex;
  margin-top: 172px;
  height: 500px;
  width: 520px;
  padding: 55px 40px 40px 40px;
  flex-direction: column;
  gap: 30px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 8px 16px 75px 0px rgba(0, 0, 0, 0.18);
}

h2{
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 8px;
  color: black;

}

.inputarea{
  position: relative;
  height: 50px;
  line-height: 30px;
  margin-bottom: 30px;
}

input, select{
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 12px;
  padding: 0 30px;
  line-height: 40px;
  border-radius: 8px;
  border: 1px solid #CDCDCD;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

select {
  height: 40px;
  color: grey;
}

::placeholder{
  color: #CDCDCD;
}

.label{
  position: absolute;
  font-size: 12px;
  color: #CDCDCD;
  padding: 0 10px;
  margin: -14px 10px 8px 20px;
  background-color: white;
  transition: 0.2s ease;
  z-index: 1111;
}

input:focus,
input:valid{
  color: #437EEB;
  border: 1px solid #437EEB;
}
input:focus + .label,
input:valid + .label{
  color: #437EEB;
}

button{
  background: none;
  color: #437EEB;
  margin-left: 95px;
  width: 208px;
  height: 50px;
  border: 1px solid #437EEB;
  font-size: 18px;
  border-radius: 10px;
  transition: .6s;
  overflow: hidden;
}

button:focus{
  outline: none;
}

button:before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

button:after{
  content: '';
  display: block;
  position: absolute;
  left: 30px;
  top: 0;
  opacity: 0;
}

button:hover{
  background: #437EEB;
  color: white;
  cursor: pointer;
}

button:hover:before{
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
}

button:hover:after{
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;
}

#form__container {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color: #262625;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lobby__form {
  padding: 2em;
}

#form__container__header {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  background-color: #363739;
  margin: 0;
  font-size: 18px;
  font-size: 300;
  line-height: 0;
}

.form__field__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form__field__wrapper label {
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: 10px;
  display: block;
}

.form__field__wrapper input {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 15px;
  background-color: #3f434a;
}

.form__field__wrapper button[type='submit'] {
  margin-top: 32px;
  cursor: pointer;
  background-color: #845695;
  border: none;
  color: #fff;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 5px;
  gap: 10px;
}

.form__field__wrapper button[type='submit'] svg {
  fill: #ede0e0;
  width: 20px;
}

#avatar__selection {
  margin-right: 10px;
  display: flex;
  gap: 1em;
}

.avatar__option {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #797a79;
}

.avatar__option__selected {
  border: 3px solid #845695;
}
